/* Light Mode */
:root {
--header-background-color: #f8f9fa;
--header-text-color: #333333;
--link-color: #007bff;
--body-background-color: #ffffff;
--body-text-color: #333333;
--blog-font-size: 18px; /* Font size for blog list */
--link-color-dark: #ffcc00; /* Add this line for dark mode link color */
}

/* Dark Mode */
body.dark-mode {
--header-background-color: #212529;
--header-text-color: #ffffff;
--link-color: var(--link-color-dark); /* Use the new dark mode link color */
--body-background-color: #333333;
--body-text-color: #ffffff;
--blog-font-size: 18px;
}

body {
font-family: Arial, sans-serif;
background-color: var(--body-background-color);
color: var(--body-text-color);
transition: background-color 0.3s ease, color 0.3s ease;
}

header {
background-color: var(--header-background-color);
color: var(--header-text-color);
padding: 10px;
text-align: center;
transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
text-align: center;
}

nav li {
display: inline;
margin-right: 10px;
}

nav a {
text-decoration: none;
color: var(--link-color);
}

nav a:hover {
text-decoration: underline;
}

/* Checkbox Hack for Toggle */
.toggle-checkbox {
display: none;
}

.toggle-labels {
display: flex;
justify-content: center;
margin: 10px auto;
}

.toggle-label {
padding: 5px 10px;
background-color: #007bff;
color: #ffffff;
cursor: pointer;
border: 1px solid #007bff;
}

.toggle-label-left {
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

.toggle-label-right {
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

body.dark-mode .toggle-labels .toggle-label-left {
background-color: #333;
color: #ffffff;
}

body.dark-mode .toggle-labels .toggle-label-right {
background-color: #007bff;
color: #ffffff;
}

/* Blog list font size */
.blog-list li {
font-size: var(--blog-font-size);
}